body{
    background-color: rgb(236, 236, 167);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url('images/12.jpeg');
}

.menu{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
}

.menu_items{
    margin-top: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

a{
    text-decoration: none;
}

a:hover{
    color: brown;
}
.image_items{
    width: 50%;
    height: 50%;
    display: block;
}
.hover{
    background-color: brown;
    margin: auto;
    padding: 10px;
    width: 374px;
    transition: 500ms;
}
#burger{
    width: 374px;
    height: 250px;
}
#taco{
    width: 374px;
    height: 187px;
}
#fish{
    width: 374px;
    height: 249px;
}
#basashi{
    width: 374px;
    height: 225px;
}
#palacsinta{
    width: 374px;
    height: 280px;
}
h1{
    text-align: center;
}
.hover:hover{
    transform: scale(1.05);
    border-radius: 10px 10px 10px 10px;
}
.hover2{
    background-color: brown;
    border-radius: 10px;
    display: none;
    transition: 500ms;
}
.hover2:hover{
    display: block;
    background-color: rgb(236, 236, 167);
    transform: scale(1.1);
}
#etlap{
    float: right;
    position: absolute;
    left: 600px;
    bottom: 520px;
    width: 350px;
    height: auto;
}
#hir1{
    text-align: left;
    float: left;
    width: 50%;
}
#hir2{
    text-align: right;
    margin-left: 50%;
    width: 50%;
}
#hir3{
    text-align: left;
    float: left;
}

#hir4{
    margin-top: 19.53%;
    text-align: right;
    margin-left: 50%;
}
#hírcim{
    margin-top: 0;
}
#hircontainer{
    margin-top: 30px;
}
#kapcsolat{
    height: 159px;
    width: 374px;
}
.bemutatkozas_cim{
    margin-top: 5%;
}
#cook{
    float: left;
    position: absolute;
    top: 900px;
    left: 200px;
}
#contact{
    float: left;
    position: absolute;
    top: 900px;
    right: 100px;
}
#pspace{
    height: 400px;
    width: auto;
    margin-bottom: 0;
}
#fix{
    float: left;
    position: absolute;
    top: 725px;
}
#fix1{
    width: 90%;
}