body{
    background-color: rgb(236, 236, 167);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url('images/12.jpeg');
}
.menu{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
}
.menu_items{
    margin-top: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
}
a{
    text-decoration: none;
}

a:hover{
    color: white;
}
.hover{
    background-color: brown;
    margin: auto;
    padding: 10px;
    width: 374px;
    transition: 500ms;
}
#burger{
    width: 374px;
    height: 250px;
    margin-top: 11px;
}
#taco{
    width: 374px;
    height: 187px;
    margin-top: 92px;
}
#fish{
    width: 374px;
    height: 249px;
    margin-top: 30px;
}
#basashi{
    width: 374px;
    height: 225px;
}
#palacsinta{
    width: 374px;
    height: 280px;
    margin-top: 17px;
}
h1{
    text-align: center;
}
.hover{
    background-color: brown;
    border-radius: 10px;
    display: none;
    transition: 500ms;
}
.hover:hover{
    display: block;
    background-color: rgb(236, 236, 167);
    transform: scale(1.1);
}
#etlap{
    float: right;
    position: absolute;
    left: 600px;
    bottom: 520px;
    width: 350px;
    height: auto;
}
#hir1{
    text-align: left;
    float: left;
    width: 50%;
    background-color: brown;
}
#hir2{
    text-align: right;
    margin-left: 50%;
    width: 50%;
    float: right;
    background-color: brown;
    height: 562px;
    position: absolute;
    top: 79px;
}
#hir3{
    text-align: left;
    float: left;
    background-color: brown;
    position: absolute;
    height: 550px;
    top: 650px;
}
#fix{
    text-align: right;
    float: right;
    width: 50%;
    background-color: brown;
    position: absolute;
    right: 0px;
    height: 550px;
    top: -500px;
}
#hírcim{
    margin-top: 0;
}
#hircontainer{
    margin-top: 30px;
}
#kapcsolat{
    height: 159px;
    width: 374px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bemutatkozas_cim{
    margin-top: 5%;
}
#cook{
    float: left;
    position: absolute;
    top: 170px;
    left: 120px;
}
#contact{
    float: left;
    position: absolute;
    top: 900px;
    right: 100px;
}
#pspace{
    height: 400px;
    width: auto;
    margin-bottom: 0;
}
#fix{
    float: left;
    position: absolute;
    top: 725px;
}
#fix1{
    width: 90%;
}
.bemutatkozas_div{
    width: 35px;
}
p{
    font-size: 30px;
}
.burger{
    background-color: brown;
    float: left;
    margin-left: 5px;
    height: 399px;
    border: 3px solid black;
}
.tortilla{
    background-color: brown;
    float: left;
    height: 399px;
    border: 3px solid black;
    margin-left: 1px;
}
.snack{
    background-color: brown;
    float: left;
    height: 399px;
    border: 3px solid black;
    margin-left: 1px;
}
.exotic{
    background-color: brown;
    float: left;
    height: 399px;
    border: 3px solid black;
    margin-left: 1px;
}
.desszert{
    background-color: brown;
    float: left;
    margin-right: 5px;
    height: 399px;
    border: 3px solid black;
    margin-left: 1px;
}
.kapcsolat{
    background-color: brown;
    padding: 10px;
    width: 748px;
    margin: auto;
}
.urlap{
    background-color: brown;
    margin: auto;
    padding: 10px;
    width: 374px;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
#urlap{
    margin-bottom: 5px;
    font-size: 24px;
}
#submit{
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}
#sex{
    font-weight: normal
}
span{
    margin-top: 20px;
    color: brown;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
}
#txtetlap{
    font-size: 24px;
}
.contact{
    color: black;
}
#hircontainer{
    margin-top: 30px;
    color: black;
}
#hir3{
    text-align: left;
    float: left;
    width: 55%;
    margin-top: 75px;
}
#etlap{
    float: right;
    position: absolute;
    left: 450px;
    bottom: 355px;
    width: 350px;
    height: auto;
}
.ingridients{
    background: brown;
    border-radius: 5px;
    margin: 0 auto;
    width: 80%;
}
.ing_text{
    width: 60%;
    padding: 50px;
    text-align: justify;
}
.ing_div{
    width: 40%;
    float: right;
}
.ing_img{
    display: flex;
    margin: 21px 0 0 250px;
    width: 45%;
    border-radius: 5px;
}
.beginnings{
    background: brown;
    border-radius: 5px;
    width: 80%;
    margin: 50px auto;
}
.beginnings_text{
    width: 60%;
    padding: 50px;
    text-align: justify;
}
.beginnings_div{
    width: 40%;
    float: right;
}
.beginnings_img{
    display: flex;
    margin: 21px 0 0 250px;
    width: 45%;
    border-radius: 5px;
}
.feedback{
    background: brown;
    border-radius: 5px;
    width: 80%;
    margin: 50px auto;
}
.feedback_text{
    width: 60%;
    padding: 50px;
    text-align: justify;
}
.feedback_div{
    width: 40%;
    float: right;
}
.feedback_img{
    display: flex;
    margin: 37px 0 0 250px;
    width: 45%;
    border-radius: 5px;
}
.index_background{
    margin: 50px auto;
    height: 780px;
    background: brown;
    width: 80%;
    border-radius: 5px;
}
.index_title{
    margin: 0 auto;
    padding-top: .1px;
}
.index_slider{
    position: relative;
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
}
.index_images{
    display: flex;
    width: 100%;
}
.index_images img{
    width: 100%;
    transition: all .15s ease;
    border-radius: 5px;
}
.index_images input{
    display: none;
}
.index_dots{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.index_dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid whitesmoke 3px;
    cursor: pointer;
    transition: all .15s ease;
     margin: 5px;
}
.index_dots label:hover{
    background: whitesmoke;
}
#img1:checked ~ .index_m1{
    margin-left: 0;
}
#img2:checked ~ .index_m2{
    margin-left: -100%;
}
#img3:checked ~ .index_m3{
    margin-left: -200%;
}
#img4:checked ~ .index_m4{
    margin-left: -300%;
}
#fname, #lname, #num, #E-mail, #choose{
    margin: 10px 0;
}